@use '_variables' as *
@use '_mixins' as *
@use '_fonts'

@keyframes boutonHeader
    0%
        transform: scale(100%)
        opacity: 100%
    25%
        transform: scale(250%)
        opacity: 75%
    50%
        transform: scale(500%)
        opacity: 50%
    75%
        transform: scale(750%)
        opacity: 25%
    100%
        transform: scale(1000%)
        opacity: 0%
@keyframes imageSectionAbout
.boutonTransition:hover
    background-color: $jauneRecurent
    transition: 250ms ease
/* 
 L'input est checked quand on click sur le label car ils sont lier.
 Une fois que le input est checked cela va lancer une serie de 
 modification comme: le iframe qui devient visible, le label qui change 
 de position pour pouvoir fermer la video, ...
header
    > div:last-of-type> div > input:checked
        ~ label
            position: fixed
            top: 50px
            right: 50px
            display: block
            z-index: 1001
            background: none
        ~ div
            position: fixed
            top: 0
            left: 0
            display: block
            background-color: $noirMoinTransparent
            width: 99vw
            height: 99vh
            display: flex
            align-items: center
            justify-content: center
            z-index: 1000
            iframe
                width: 60vw
                height: 33.75vw
                display: block
    > div:last-of-type:hover:not(:checked)
        overflow: hidden
        background-color: $jauneRecurent
        transition: 333ms ease-in
        > div label i
            animation: boutonHeader 333ms ease-in
#sectionAbout div:last-of-type:hover
    transform: scale(105%)
    transition: 500ms ease
    i:first-of-type
        position: relative
        bottom: 46%
        left: 0
        transition: 500ms ease
    i:last-of-type
        position: relative
        top: 46%
        right: 0
        transition: 500ms ease