@use '_variables' as *
@use '_mixins' as *
@use '_fonts'

body
    margin: 0
    padding: 0
    font-family: "Montserrat" !important
.boutonTransition
    @include styleBouton($couleurBg: none)
.boutonSansTransition
    @include styleBouton($couleurBg: $jauneRecurent)
.pAvantH2,h2
    margin-left: 85px
.pAvantH2
    font-size: 16px
    font-weight: 600
    letter-spacing: 2px
    color: #aaaaaa
    margin-top: 66px
    margin-bottom: 12px
h2
    color: $jauneRecurent
    font-size: 40px
    font-weight: 600