@use '_variables' as *
@use '_fonts'

@mixin styleBouton($couleurBg)
    background: $couleurBg  
    color: white 
    border: 3px solid $jauneRecurent  
    border-radius: 50px
    padding-inline: 30px
    padding-block: 8px
    a
        color: white