@use '_variables' as *
@use '_mixins' as *
@use '_fonts'

a, button
    color: white !important
nav
    background-color: $noirTransparent !important
    position: fixed !important
    top: 0
    width: 100%
    > div
        min-height: 70px
        margin-inline: 4.25vw 4.25vw !important
        > a
            font-size: 34px !important
        ul
            gap: 18px
            margin-right: 15px
        > .boutonTransition
            display: none   