@use '_variables' as *
@use '_mixins' as *
@use '_fonts'

#sectionChefs
    background-color: $fondPresqueNoir
    min-height: 796px
    > div
        margin-top: 52px
        gap: 30px
        > div
            width: 28.5vw
            height: 28.5vw
            background-size: cover
            > div
                flex-direction: column
                align-items: center
                justify-content: flex-end
                width: 100%
                height: 100%
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.10))
                overflow: hidden
                p, i 
                    margin-bottom: 20px
                    color: white
                p:not(:last-of-type), i 
                    font-size: 22px
                p:last-of-type
                    font-size: 18px
        > div:first-of-type
            background-image: url(../assets/img/chefs/chefs-1.jpg)
        > div:nth-of-type(2)
            background-image: url(../assets/img/chefs/chefs-2.jpg)
        > div:last-of-type
            background-image: url(../assets/img/chefs/chefs-3.jpg)
