@use '_variables' as *
@use '_mixins' as *
@use '_fonts'

#sectionMenu
    background-color: $fondBrun
    padding-bottom: 70px
    > div
        margin-top: 57px
        column-gap: 20px
        flex-wrap: wrap
        justify-content: center
        input
            display: none
        label
            font-size: 20px
            color: white
        > div 
            gap: 1vw
            width: 90vw
            > div
                display: flex
                margin-top: 50px
                width: 44vw
                img
                    width: 85px
                    height: 85px
                    border: solid 8px $contourGris
                    border-radius: 50px
                > div
                    width: 685px
                    margin-left: 20px
                    > div
                        display: flex
                        justify-content: space-between
                        p
                            position: relative
                            margin-bottom: 0px
                            font-size: 18px
                            font-weight: 600
                        p:first-of-type
                            color: white
                        p:last-of-type
                            color: $jauneRecurent
                    > p
                        font-size: 17px
                        color: $grisTexte  
